.bbt-welcome-wrap .button .dashicons
{
    line-height: 26px;
}

.bbt-welcome-wrap .nav-tab.disabled
{
    color: #999999;
    pointer-events: none;
    font-size: 16px;
    font-weight: normal;
    margin-left: 0;
    margin-right: 8px;
}

#toplevel_page_bbt_welcome_theme .dashicons-before:before {
    content: "\f108";
}

.toplevel_page_bbt_welcome_theme #setting-error-showoff{
    display:none !important;
}

/*========================*/
/*========================*/
.stripe_top {
    display: block;
    width: 100%;
    height: 6px;
    background: #ec7a5c;
    margin-left: -20px;
    padding-right: 20px;
}

.bbt-about-wrap a {
    font-size: 13px;
}

.bbt-about-wrap .bbt_admin_notices {
    display: none !important;
}

.bbt-about-wrap .bbt-tab-wrapper a {
    font-weight: normal;
}

.bbt-about-wrap h1 {
    margin: 0;
}

.bbt-about-wrap h1 a {
    float: right;
    margin: 22px 0 0 10px !important;
}

.bbt-about-wrap .button .dashicons {
    line-height: 26px;
}

.bbt-about-wrap .version {
    font-size: 13px;
    font-weight: normal;
    color: #999999;
    margin: 8px 0 20px 0;
}

.bbt-about-wrap .version a {
    text-decoration: none;
    color: #666666;
}

.bbt-about-wrap .nav-tab {
    font-size: 16px;
    font-weight: normal;
    margin-left: 0;
    margin-right: 8px;
}

.bbt-about-wrap .nav-tab .dashicons {
    margin-top: 1px;
    margin-right: 4px;
}

.bbt_footer {
    font-size: 14px;
    color: #999999;
    text-align: left;
    margin-top: 30px;
    padding-top: 24px;
    border-top: solid 1px #cccccc;
}

.bbt_footer a {
    color: #0073aa;
    text-decoration: none;
    margin-right: 20px;
}

.bbt_footer a .dashicons {
    color: #404040;
    margin: -1px 10px 0 0;
}

.vc_license-activation-notice {
    display: none !important;
}

/*========================*/
/*========================*/
.welcome_info {
    font-size: 18px !important;
    margin-bottom: 50px;
}

/*========================*/
/*========================*/
.bbt-registration-form {
    text-align: center;
}

.bbt-registration-form .inner {
    display: block;
    width: 100%;
    margin-top: 40px;
}

.bbt-registration-form .inner .center p {
    font-size: 19px;
    line-height: 30px;
    color: #666666;
}

.bbt-registration-form .inner .left {
    float: left;
    display: block;
    max-width: 75%;
}

.bbt-registration-form .inner .left p {
    font-size: 19px;
    line-height: 30px;
    color: #666666;
    text-align: left;
}

.bbt-registration-form .inner .right {
    float: right;
    display: block;
    max-width: 25%;
    margin-top: 19px;
}

.bbt-registration-form .inner.steps {
    font-size: 16px;
    color: #999999;
}

.bbt-registration-form .inner.steps.has-error .step-1:not(.step-error) {
    display: none;
}

.bbt-registration-form .inner.steps.has-error .step-1.step-error {
    display: block !important;
}

.bbt-registration-form .inner.steps.has-error .step-error {
    background: #de302b;
    font-size: 16px;
    color: #FFF;
    padding: 80px 70px 27px;
    box-sizing: border-box;
    text-align: left;
    line-height: 22px;
}

.bbt-registration-form .inner.steps.has-error .step-error .button {
    margin-top: 54px;
    margin-bottom: 0;
}

.bbt-registration-form .inner.steps .step {
    background: #FFF;
    width: 48%;
    padding: 80px 0;
    display: block;
}

.bbt-registration-form .inner.steps .step img {
    height: 180px;
    display: block;
    margin: 35px auto 35px auto;
}

.bbt-registration-form .inner.steps .step.step-1 {
    float: left;
}

.bbt-registration-form .inner.steps .step.step-1.step-error {
    display: none;
}

.bbt-registration-form .inner.steps .step.step-1 .generate {
    color: #0073aa;
    line-height: 51px;
    height: 51px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 80px;
    margin-bottom: 40px;
}

.bbt-registration-form .inner.steps .step.step-2 {
    float: right;
    padding: 80px 0 67px 0;
}

.bbt-registration-form .inner.steps .step.step-2 #bbt_product_key {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    height: 51px;
    width: 370px;
    border-color: #eeeeee;
    text-align: center;
    box-shadow: none;
}

.bbt-registration-form .inner.steps .step.step-2 #bbt_product_key:active, .bbt-registration-form .inner.steps .step.step-2 #bbt_product_key:focus {
    border-color: #666666;
}

.bbt-registration-form .inner.steps .step.step-2 .bbt-register {
    background: #0073aa;
    width: 370px;
    font-size: 16px;
    font-weight: normal;
    height: 51px;
    line-height: 51px;
    border-color: #0073aa;
}

.bbt-registration-form .key_error {
    border-left: solid 4px #dc3232;
    text-align: left;
    background: #FFF;
    padding: 11px 0 11px 12px;
    color: #444;
    font-size: 14px;
    margin-top: 10px;
}

.bbt-registration-done {
    background: #FFF;
    margin-top: 40px;
    text-align: center;
}

.bbt-registration-done img {
    width: 132px;
    margin-top: 140px;
}

.bbt-registration-done h2 {
    font-size: 28px;
    font-weight: normal;
    color: #272d33;
    margin-bottom: 66px;
}

.bbt-registration-done .bbt_product_key_wrapper {
    border-top: solid 1px #f1f1f1;
    text-align: left;
    padding: 36px 50px;
}

.bbt-registration-done .bbt_product_key_wrapper .bbt_product_key {
    font-size: 19px;
    color: #1e1e1e;
    font-weight: 700;
    float: left;
    max-width: 50%;
    line-height: 28px;
}

.bbt-registration-done .bbt_product_key_wrapper form,
.bbt-registration-done .bbt_product_key_wrapper a {
    float: right;
    margin-left: 20px;
}

.bbt-install-plugins .plugins_activate {
    font-size: 18px !important;
    padding: 0;
    color: #999;
    margin: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

/*========================*/
/*========Tools Page======*/
/*========================*/
.wrap.bbt-tools .header-section {
    margin: 40px 0;
}

.wrap.bbt-tools .header-section h2 {
    font-size: 28px;
    font-weight: normal;
    float: left;
    margin: 0 40px 0 0;
}

.wrap.bbt-tools .header-section .video-guide {
    float: right;
    margin-top: 10px;
}

.wrap.bbt-tools .header-section .plugin-tab-switch,
.wrap.bbt-tools .header-section .demo-tab-switch {
    color: #0073aa;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 15px;
    float: left;
    margin: 2px 20px 0 0;
}

.wrap.bbt-tools .header-section .plugin-tab-switch.error,
.wrap.bbt-tools .header-section .demo-tab-switch.error {
    color: #db3431;
}

.wrap.bbt-tools .header-section .plugin-tab-switch.error .dashicons,
.wrap.bbt-tools .header-section .demo-tab-switch.error .dashicons {
    margin-top: -1px;
}

.wrap.bbt-tools .header-section .plugin-tab-switch.error:hover,
.wrap.bbt-tools .header-section .demo-tab-switch.error:hover {
    color: #db3431;
}

.wrap.bbt-tools .header-section .plugin-tab-switch.active,
.wrap.bbt-tools .header-section .demo-tab-switch.active {
    color: #666666;
    background: #FFF;
    border: solid 1px #e4e4e4;
    border-radius: 15px;
    margin: 1px 20px 0 0;
}

.wrap.bbt-tools .header-section .plugin-tab-switch.active.error,
.wrap.bbt-tools .header-section .demo-tab-switch.active.error {
    color: #db3431;
}

.wrap.bbt-tools .header-section .plugin-tab-switch.active:hover,
.wrap.bbt-tools .header-section .demo-tab-switch.active:hover {
    color: #666666;
}

.wrap.bbt-tools .header-section .plugin-tab-switch:hover,
.wrap.bbt-tools .header-section .demo-tab-switch:hover {
    color: #00a0d2;
}

.wrap.bbt-tools .header-section .plugin-tab-switch:active, .wrap.bbt-tools .header-section .plugin-tab-switch:focus,
.wrap.bbt-tools .header-section .demo-tab-switch:active,
.wrap.bbt-tools .header-section .demo-tab-switch:focus {
    outline: none;
    box-shadow: none;
}

.wrap.bbt-tools .header-section a {
    text-decoration: none;
}

.wrap.bbt-tools .header-section a .dashicons.dashicons-video-alt3,
.wrap.bbt-tools .header-section a .dashicons.dashicons-info {
    color: #666666;
    margin: -1px 6px 0 0;
}

.wrap.bbt-tools .header-section a:active, .wrap.bbt-tools .header-section a:focus {
    outline: none;
    box-shadow: none;
}

.wrap.bbt-tools .bbt-plugin-browser.recommended {
    display: none;
}

.wrap.bbt-tools .bbt-plugin-browser .bbt-plugin {
    float: left;
    width: 48%;
    position: relative;
    margin-bottom: 4%;
}

.wrap.bbt-tools .bbt-plugin-browser .bbt-plugin:nth-child(2n+2) {
    margin-left: 4%;
}

.wrap.bbt-tools .bbt-plugin-browser .bbt-plugin .theme-actions {
    position: absolute;
    right: 35px;
    bottom: 35px;
}

.wrap.bbt-tools .bbt-plugin-browser .bbt-plugin .theme-actions .button-update {
    background: #DE302B;
    color: #FFF;
    border-color: #851919;
    box-shadow: 0 1px 0 #851919;
}

.wrap.bbt-tools .bbt-plugin-browser .bbt-plugin .plugin-version {
    position: absolute;
    left: 35px;
    bottom: 35px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.wrap.bbt-tools .bbt-plugin-browser .bbt-plugin .plugin-update {
    position: absolute;
    top: 18px;
    width: 100%;
    left: 0px;
    background: #DE302B;
    font-size: 14px;
    color: #FFF;
    padding: 18px 30px 18px;
    box-sizing: border-box;
}

.wrap.bbt-tools .bbt-plugin-browser .bbt-plugin .plugin-update .dashicons {
    margin-top: -1px;
    margin-right: 10px;
}

a.button.bbt-deactivate-update {
    margin-left: 5px;
}

.about-wrap div.error.bbt_admin_notices.notice_product_key{
    display: block !important;
}
